- hosts: all
  connection: local

  roles:
    - { role: base, tags: ['base'] }
    - { role: code, tags: ['code'] }
    - { role: chezmoi, tags: ['chezmoi'] }
    - { role: infosec, tags: ['infosec'] }

