---
- name: "Install infosec applications"
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  with_items:
    - binwalk
    - gnuradio
    - golang-go
    - nmap
    - wireshark
