---
- name: "Install developer tools"
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  with_items:
    - docker.io
    - git
    - golang-go
    - meld
    - shellcheck
    - tig

- name: "Update user.name in .gitconfig"
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ code_user_name }}"

- name: "Update user.email in .gitconfig"
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ code_user_email }}"

- name: "Update editor in .gitconfig"
  community.general.git_config:
    name: core.editor
    scope: global
    value: vim

- name: "Add alias to rinse changes in git repos"
  community.general.git_config:
    name: alias.rinse
    scope: global
    value: '!git submodule foreach --recursive git clean -xfd && git submodule sync --recursive && git restore . --recurse-submodules'

- name: "Add alias to list last modified remote git branches"
  community.general.git_config:
    name: alias.brv
    scope: global
    value: '!git branch -a -v --sort=-committerdate --format="%(HEAD)%(refname:short)|%(committerdate:relative)|%(subject)|%(authorname)" | column -ts"|"'

- name: "Add user to sudo and docker groups"
  ansible.builtin.user:
    name: "{{ ansible_facts.user_id }}"
    groups:
      - sudo
      - docker
    append: true
  become: true
  register: code_user_groups

- name: "Enable and start docker service"
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true
  become: true
  when: ansible_facts.service_mgr == "systemd"

- name: "Verify docker access"
  ansible.builtin.command: docker info
  become: true
  changed_when: false
  when: ansible_facts.service_mgr == "systemd"

- name: "Re-login required for docker group" # noqa: no-handler
  ansible.builtin.debug:
    msg: "User was added to the docker group. A re-login is required to use docker without sudo."
  changed_when: false
  when: code_user_groups.changed
