[colors.line_indicator]
background = "None"
foreground = "None"

[colors.primary]
background = "{{ brblack }}"
foreground = "{{ brwhite }}"

[colors.vi_mode_cursor]
cursor = "CellForeground"
text = "CellBackground"

[env]
TERM = "xterm-256color"

[font]
size = {{ font_size_regular }}

[font.bold]
family = "{{ font }}"

[font.normal]
family = "{{ font }}"
