---
- name: "Install base applications"
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  with_items:
    - apt-file
    - bat
    - curl
    - flameshot
    - fonts-firacode
    - fonts-font-awesome
    - fzf
    - gcc
    - git
    - i3
    - jq
    - keepassxc
    - libfontconfig-dev
    - openvpn
    - rofi
    - suckless-tools
    - tmux
    - vim
    - xclip
    - xterm

- name: "Clone tmux plugin manager"
  ansible.builtin.git:
    repo: 'https://github.com/tmux-plugins/tpm'
    dest: "{{ ansible_facts.env.HOME }}/.tmux/plugins/tpm"
    version: master
